Feature: OS detection

  Background:
    Given "nmap" is installed
    And the following profile:
      | name     | value      |
      | hostname | {{ address_public_preprod }} |

  @slow
  Scenario: Detect OS
    When I launch an "nmap" attack with:
      """
      nmap -sV -p8181 -PN <hostname>
      """
    Then the output should contain:
      """
      Centos
      """
